<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Angular Refresh</title>
    <script type="text/javascript" src="vendors/angular.js"></script>
    <script type="text/javascript" src="script.js"></script>
  </head>
  <body ng-app = "myApp">
    <div ng-controller = "working">
      <h1>Random Picker</h1>
      <input type="text" name="" value="" ng-model="nameInput">
      <button type="button" name="button" ng-click="listAdd()">Send</button>
      <button type="button" name="button" ng-click = "randomPick()">Pick!</button>
      <button type="button" name="button" ng-click = "clearList()">Clear</button>
      <div id="theList" ng-repeat="things in randomList">
        {{things.name}} <button type="button" name="button" ng-click="listRemove()">Delete</button>
      </div>
      <h1>{{selected}}</h1>
    </div>
  </body>
</html>
